#a{
	height:200px;
	width:100px;
	background-color:Dodgerblue;
	border:5px solid navy;
	float:left;
	position:relative;
}
#b{
	height:200px;
	width:100px;
	background-color:purple;
	border:5px solid orange;
	float:left;
	position:relative;
}
#c{
	height:100px;
	width:100px;
	background-color:lightgreen;
	border:5px solid green;
	float:left;
	position:absolute;
}
#d{
	height:200px;
	width:100px;
	background-color:grey;
	border:5px solid black;
	float:left;
}
#p{
	position:absolute;
	left:10px;
	right:10px;
}